# Calculate potential dates for individual lab meetings

In [1]:
import calendar
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
PRESENTERS = [
    'Daisy',
    'Stella',
    'Megan',
    'Ethan',
    'Talysa'
]

In [3]:
WHICH_MEETING = 0  # index of lab meeting (0 = first meeting of month)
START_MONTH = 2  # month to start having individual lab meetings
YEAR = 2022
START_TIME = "2:00 PM"
END_TIME = "4:00 PM"

In [4]:
def n_friday(friday_index, year, month):
    # selects the nth friday of a given month in a given year
    # https://stackoverflow.com/questions/28680896/how-can-i-get-the-3rd-friday-of-a-month-in-python/28681097
    c = calendar.Calendar(firstweekday=calendar.SUNDAY)
    monthcal = c.monthdatescalendar(year,month)
    return [day for week in monthcal for day in week if
        day.weekday() == calendar.FRIDAY and
        day.month == month
    ][friday_index]

In [5]:
def format_for_gcal_import(subject, start_date, start_time, end_time):
    return {
        'Subject': subject, 'Start date': start_date, 'Start time': start_time,
        'End time': end_time
    }

In [6]:
def make_meeting_subject(presenter):
    return f'Individual lab meeting: {presenter}'

In [7]:
def assign_dates(presenters, seed=12345):
    np.random.seed(seed)
    np.random.shuffle(presenters)
    # Move Daisy to front of the list regardless of shuffle order
    presenters.remove('Daisy')
    presenters = ['Daisy'] + presenters
    months = range(2, 13)
    csv_rows = []
    i = 0
    for each_month in months:
        if i == len(presenters):
            i = 0
        if 'Daisy' in presenters and i >= 3:  # Daisy gone by March?
            presenters.remove('Daisy')
            i -= 1
        presenter = presenters[i]
        pres_date = n_friday(
            WHICH_MEETING, YEAR, each_month
        )
        pres_date_string = datetime.strftime(pres_date, '%m/%d/%Y')
        csv_rows.append(
            format_for_gcal_import(
                make_meeting_subject(presenter), pres_date_string,
                START_TIME, END_TIME
            )
        )
        i += 1
    return pd.DataFrame(csv_rows)

assigned_dates = assign_dates(PRESENTERS)
assigned_dates

                           Subject  Start date Start time End time
0    Individual lab meeting: Daisy  02/04/2022    2:00 PM  4:00 PM
1   Individual lab meeting: Talysa  03/04/2022    2:00 PM  4:00 PM
2    Individual lab meeting: Ethan  04/01/2022    2:00 PM  4:00 PM
3   Individual lab meeting: Stella  05/06/2022    2:00 PM  4:00 PM
4    Individual lab meeting: Megan  06/03/2022    2:00 PM  4:00 PM
5   Individual lab meeting: Talysa  07/01/2022    2:00 PM  4:00 PM
6    Individual lab meeting: Ethan  08/05/2022    2:00 PM  4:00 PM
7   Individual lab meeting: Stella  09/02/2022    2:00 PM  4:00 PM
8    Individual lab meeting: Megan  10/07/2022    2:00 PM  4:00 PM
9   Individual lab meeting: Talysa  11/04/2022    2:00 PM  4:00 PM
10   Individual lab meeting: Ethan  12/02/2022    2:00 PM  4:00 PM

Write output to markdown to send to slack.

In [8]:
print(assigned_dates[['Subject', 'Start date']].to_markdown(index=False))

| Subject                        | Start date   |
|:-------------------------------|:-------------|
| Individual lab meeting: Daisy  | 02/04/2022   |
| Individual lab meeting: Talysa | 03/04/2022   |
| Individual lab meeting: Ethan  | 04/01/2022   |
| Individual lab meeting: Stella | 05/06/2022   |
| Individual lab meeting: Megan  | 06/03/2022   |
| Individual lab meeting: Talysa | 07/01/2022   |
| Individual lab meeting: Ethan  | 08/05/2022   |
| Individual lab meeting: Stella | 09/02/2022   |
| Individual lab meeting: Megan  | 10/07/2022   |
| Individual lab meeting: Talysa | 11/04/2022   |
| Individual lab meeting: Ethan  | 12/02/2022   |